<% layout('layouts/boilerPlate') %> 
    <h1>Camp ground Details</h1>
    <h2><%= campground.title %> </h2>
    <h2><%= campground.location %> </h2>
    <img src="<%= campground.image %> " alt="campground">
    <p><%= campground.description %> </p>
<p>
    <form action="/campgrounds/<%=campground.id %>?_method=DELETE " method="POST">
        <button>DELETE CAMPGROUND</button>
    </form>
</p>
    <a href="/campgrounds">ALL CAMPGROUNDS</a>
    <a href="/campgrounds/<%=campground._id %>/edit ">EDIT CAMPGROUND</a>

