<% layout('layouts/boilerPlate') %> 
   
    <div class="row">
        <h1 class="text-center">EDIT CAMPGROUND</h1>
       <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form">
              <div class="mb-3">
                  <label class="form-label" for="title">Title</label>
                  <input  class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required >
              </div>
              <div class="mb-3">
               <label class="form-label" for="location">location</label>
               <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
           </div>
           <div class="mb-3">
               <label class="form-label" for="location">campground Price</label>
           <div class="input-group mb-3">
               <span class="input-group-text" id="basic-addon1">R</span>
               <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="" 
               name="campground[price]" value="<%= campground.price %>" required>
             </div>
           </div>
           <div class="mb-3">
               <label class="form-label"for="image">image URL</label>
               <input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image %>" required>
           </div>
           <div class="mb-3">
               <label class="form-label"for="description">description</label>
               <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %></textarea>
           </div>
           <div class="mb-3">
               <button class="btn btn-info">UPDATE campground</button>
           </div>
           </form>
           <a href="/campgrounds/<%=campground._id%> ">Back to campground</a>
       </div>
       <a href="/campgrounds/<%=campground._id%> ">Back to campground</a>
    </div>